{
    "layer": "top",
    "position": "top",
    "height": 0,
    "spacing": 0,
    "modules-left": ["wlr/taskbar"],
    "modules-center": [],
    "modules-right": [
        "network",
        "pulseaudio",
        "cpu",
        "memory",
        "backlight",
        "battery",
        "clock",
        "tray"
    ],
    "sway/workspaces": {
        "disable-scroll": true,
        "all-outputs": true,
        "format": "{icon}",
    },
    "wlr/taskbar": {
        "format": "{icon}",
        "sort-by-app-id": true,
        "app_ids-mapping": {
            "emacs": "Emacs",
            "firefox": "Firefox",
            "com.mitchellh.ghostty": "Ghostty"
        },
        "icon-size": 24,
        "on-click": "activate"
    },
    "pulseaudio": {
        "format": "{icon} {volume}%",
        "format-muted": "󰝟 Muted",
        "format-icons": {
            "headphone": "",
            "default": ["", "", ""]
        },
        "on-click": "pavucontrol"
    },
    "cpu": {
        "format": " {usage}%",
    },
    "memory": {
        "format": " {}%"
    },
    "backlight": {
        "format": "{icon} {percent}%",
        "format-icons": ["", "", "", "", "", "", "", "", ""]
    },
    "battery": {
        "states": {
            "warning": 30,
            "critical": 15
        },
        "format": "{icon} {capacity}%",
        "format-charging": "󱐋 {capacity}%",
        "format-plugged": " {capacity}%",
        "format-icons": ["", "", "", "", ""]
    },
    "network": {
        "format-wifi": " {essid}({signalStrength}%)",
        "format-ethernet": "󰈀 {ifname}",
        "format-disconnected": "󰖪 Disconnected",
        "interval": 5,
        "tooltip-format": "{ifname} via {gwaddr}",
        "on-click": "ghostty -e connmanctl"
    },
    "clock": {
        "format": "󰃭 {:%a %d %b  󰥔 %H:%M}",
        "tooltip-format": "<tt><small>{calendar}</small></tt>"
    },
    "tray": {
        "spacing": 1
    }
}
